<style type="text/css">
.lists li{line-height: 35px; background: url(../images/point.jpg) no-repeat 0 15px; padding-left: 12px;}
.lists li a{color: #333333;}
.lists li span {color: #999999;float: right;font-size: 12px;}
</style>
<ul class="lists">
	<li><a href="#" target="_blank">安徽省粮食局开展秋粮收购督查调研</a><span>2017-12-04</span></li>
	<li><a href="#" target="_blank">天津市粮食局周密部署扎实推进确保完成2017年增储小麦入库任...</a><span>2017-12-01</span></li>
	<li><a href="#" target="_blank">宁夏“粮安工程”粮库智能化升级改造项目全面启动</a><span>2017-11-30</span></li>
	<li><a href="#" target="_blank">黑龙江省粮食局召开推进全省粮食加工业发展工作视频会议</a><span>2017-11-30</span></li>
	<li><a href="#" target="_blank">上海市粮食局举办本市粮食市场监测业务培训班</a><span>2017-11-29</span></li>
</ul>